#main-topic{
    background-color: rgb(1, 1, 54);
    color: rgb(255, 255, 0);
    text-align: center;
    margin: 0px;
    padding: 20px;
}

.paragraphs{
    color: white;
}

.headings2{
    background-color: black;
    color: #ffff00;
}

li {
    color: white;
}

